<!DOCTYPE html>
<html>
<head>
    <title>Clustered GPS Data Points in City of London</title>
    <style>
        body, html {
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
        }
        .map-container {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
    </style>
</head>
<body>
    <div class="map-container">
        {{ plot_html|safe }}
    </div>
</body>
</html>
